{% extends 'layout.html' %}

{% block title %}Biotech Archivos{% endblock %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-2">Carpeta: {{carpeta}}</h1>

        <div class="card mb-4">
            <div class="card-body">

                <section class="section">
                    <div class="columns">
                        <div class="column">
                            <table id="tablaArchivos" class="table table-hover table-bordered table-responsive" style="width:100%">
                                <thead>
                                    <tr class="table-active">
                                        <th class="col-2 text-center align-middle">Nombre del Archivo</th>
                                        <th class="col-lg-7 text-center align-middle">Descripción</th>
                                        <th class="col-lg-1 text-center align-middle">Permisos</th>
                                        <th class="col-lg-2 text-center align-middle">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for archivo in archivos %}
                                    <tr>
                                        <td class="align-middle">{{archivo[0]}}</td>
                                        <input type="hidden" name="carpeta_arch" value="{{archivo[1]}}"/>
                                        <td class="align-middle">{{archivo[2]}}</td>
                                        <input type="hidden" name="numdescargas" value="{{archivo[3]}}"/>
                                        <input type="hidden" name="publicar" value="{{archivo[4]}}"/>
                                        <input type="hidden" name="descargar" value="{{archivo[5]}}"/>

                                        <td class="text-center align-middle">
                                            <button type="submit" class="btn btn-link"><a title="Editar"><i class="fas fa-edit fa-lg" style="color:#212529" data-bs-toggle="modal" data-bs-archivo_nombre="{{ archivo[0] }}" data-bs-archivo_carpeta="{{ archivo[1] }}" data-bs-archivo_desc="{{ archivo[2] }}" data-bs-num_descargas="{{ archivo[3] }}" data-bs-archivo_pub="{{ archivo[4] }}" data-bs-archivo_descarga="{{ archivo[5] }}" data-bs-target="#archivo-editar"></i></a></button>
                                        </td>

                                        <td class="text-center align-middle">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-link"><a title="Compartir"><i class="fas fa-share-square fa-lg" style="color:#212529" data-bs-toggle="modal" data-bs-archivo_nombreC="{{ archivo[0] }}" data-bs-target="#compartir-archivo"></i></a></button>                                                
                                            </div>
                                            <div class="btn-group">
                                                <form action="{{ url_for('download_file') }}" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        
                                                    <input type="hidden" name="nameArchivo" value="{{ archivo[0] }}">
                                                    <button type="submit" class="btn btn-link"><a title="Descargar"><i class="fas fa-download fa-lg" style="color:#212529"></i></button>                                                   
                                                </form>
                                            </div>
                                        </td>

                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <div class="modal fade" id="archivo-editar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Editar Permisos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="{{ url_for('update_info_file') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="nombreArchivo" name="nombreArchivo" type="text" placeholder="Nombre del archivo" readonly/>
                            <label class="form-label fw-bold" for="nombreArchivo">Archivo</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="carpeta" name="carpeta" type="text" placeholder="Carpeta del archivo" readonly/>
                            <label class="form-label fw-bold" for="carpeta">Carpeta</label>
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">Descripción:</label>
                            <textarea class="form-control" id="descripcion-archivo" name="descripcion-archivo" rows="2"></textarea>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="descargas" name="descargas" type="text" placeholder="Carpeta del archivo" readonly/>
                            <label class="form-label fw-bold" for="descargas">Número de Descargas</label>
                        </div>

                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="publicable" name="publicable" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Archivo Publicable</label>
                              </div>
                        </div>

                        <div class="col-md-12 d-flex justify-content-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="op-descarga" name="op-descarga" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Habilitar Descarga</label>
                              </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>

                    </form>

                </div>
            </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/admin/editarchivo.js') }}"></script>

        <!-- Modal -->
        <div class="modal fade" id="compartir-archivo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Compartir Archivo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="{{ url_for('share') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="nombreArchivoC" name="nombreArchivoC" type="text" placeholder="Nombre del archivo" readonly/>
                            <label class="form-label fw-bold" for="nombreArchivoC">Archivo</label>
                        </div>

                        <div class="form-group">
                            <label class="form-label fw-bold">Investigadores:</label>
                            <div>
                                <select class="form-select form-select-md mb-3" id="investigadoresId" name="investigadoresId" required>
                                    <option value="">Seleccione un investigador</option>
                                    {% for investigador in investigadores %}
                                    <option value="{{investigador[0]}}">{{investigador[1]}} {{investigador[2]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                           
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Compartir</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/admin/infoarchivo.js') }}"></script>
        <script src="{{ url_for('static', filename='js/admin/datatables.js') }}"></script>
</main>
{% endblock %}