{% extends 'layout.html' %}

{% block title %}Biotech Carpetas{% endblock %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Carpetas del Usuario</h1>

        <div class="card mb-4">
            <div class="card-body">

                <section class="section">
                    <div class="columns">
                        <div class="column">
                            <table class="table table-hover table-bordered table-responsive">
                                <thead>
                                    <tr class="table-active">
                                        <th class="col-2 text-center">Nombre de la Carpeta</th>
                                        <th class="col-lg-8 text-center">Descripción</th>
                                        <th class="col-lg-1 text-center">Permisos</th>
                                        <th class="col-lg-1 text-center">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for carpeta in carpetas %}
                                    <tr>
                                        <td>{{carpeta[0]}}</td>
                                        <input type="hidden" name="cargrupo" value="{{carpeta[1]}}"/>
                                        <td>{{carpeta[2]}}</td>
                                        <input type="hidden" name="carprivada" value="{{carpeta[3]}}"/>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-carpeta_nombre="{{ carpeta[0] }}" data-bs-carpeta_grupo="{{ carpeta[1] }}" data-bs-carpeta_desc="{{ carpeta[2] }}" data-bs-carpeta_priv="{{ carpeta[3] }}" data-bs-target="#carpeta-editar">
                                            Editar
                                            </button>
                                        </td>
                                        <td class="text-center">
                                            <form action="{{ url_for('file') }}" method="POST">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                                                <input type="hidden" name="nombre" value="{{ carpeta[0] }}">
                                                <button class="btn btn-success btn-sm">Abrir</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <div class="modal fade" id="carpeta-editar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Nombre Carpeta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="{{ url_for('update_info_folder') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <input type="hidden" name="nombreCarpeta" id="nombreCarpeta">

                        <div class="form-floating mb-3">
                            <input class="form-control" id="grupo" name="grupo" type="text" placeholder="Grupo al que pertenece" readonly/>
                            <label class="form-label fw-bold" for="grupo">Grupo</label>
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">Descripción:</label>
                            <textarea class="form-control" id="descripcion-carpeta" name="descripcion" rows="2"></textarea>
                        </div>

                        <div class="mb-3 col-md-12 d-flex justify-content-center align-items-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="opcion" name="opcion" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Carpeta Privada</label>
                              </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>

                    </form>

                </div>
            </div>
            </div>
        </div>

</main>
<script src="{{ url_for('static', filename='js/admin/editcarpeta.js') }}"></script>
{% endblock %}