{% extends 'layout.html' %}

{% block title %}Biotech Admin{% endblock %}

{% block content %}

<main>

    <div class="container-fluid px-4">
        <h1 class="mt-2">Información Grupos</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="card mb-4">
            <div class="card-body">

                <section class="section">
                    <div class="columns">

                        <div class="column">

                            <table id="" class="table table-hover table-bordered table-responsive" style="width:100%">
                                <div class="d-flex justify-content-end">
                                    <a class="nav-link" title="Crear Grupo" data-bs-toggle="modal" data-bs-target="#nuevo-grupo">
                                        <i class="fas fa-user-friends fa-lg" style="color:#212529"></i>
                                    </a>
                                </div>
                                <thead>
                                    <tr class="table-active">
                                        <th class="col-3 text-center align-middle">Nombre</th>
                                        <th class="col-lg-5 text-center align-middle">Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for grupo in grupos %}
                                    <tr>
                                        <td class="align-middle">{{grupo[0]}}</td>
                                        <td class="align-middle">{{grupo[1]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</main>

{% endblock %}