<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>BioTech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/home/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home/style.css') }}" rel="stylesheet"> 
    
    <!--Font-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      
      <!-- Fav and touch icons -->
      <link rel="shortcut icon" href="ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

    <!-- SCRIPT 
    ============================================================-->  
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/home/bootstrap.min.js') }}"></script>
      
  </head>
  <body>
  <!--HEADER ROW-->
  <div id="header-row">
    <div class="container">
      <div class="row">
              <!--LOGO-->
              <div class="span3"><a class="brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/home/logo1.png') }}"/></a></div>
              <!-- /LOGO -->

            <!-- MAIN NAVIGATION -->  
              <div class="span9">
                <div class="navbar  pull-right">
                  <div class="navbar-inner">
                    <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                    <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">

                        <li class="active"><a href="{{ url_for('index') }}">Inicio</a></li>
                        <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
                 
                    </ul>
                  </div>

                  </div>
                </div>
              </div>
            <!-- MAIN NAVIGATION -->  
      </div>
    </div>
  </div>
  <!-- /HEADER ROW -->

  
  <div class="container">

  <!--Carousel
  ==================================================-->

  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">

      <div class="active item">
        <div class="container">
          <div class="row">
            
              <div class="span6">

                <div class="carousel-caption">
                      <h1>Facultad de Ciencias Exactas y Naturales</h1>
                      <h2>Escuela de Ciencias Biológicas</h2>
                      <p class="lead">Eje principal del proyecto, quienes se encuentran a cargo del estudio, investigación y secuenciación de genomas de Drosophila.</p>
                </div>

              </div>

              <br>
              <div class="span6"> <img src="{{ url_for('static', filename='img/home/slide/slide1.jpg') }}"> </div>

          </div>
        </div>

      </div>

      <div class="item">
       
        <div class="container">
          <div class="row">
            
              <div class="span6">

                <div class="carousel-caption">
                      <h1>Facultad de Ingeniería</h1>
                      <h2>Escuela de Sistemas y Computación</h2>
                      <p class="lead">A cargo del apoyo y soporte tecnológico, creando y diseñando soluciones que ayuden a los investigadores en su trabajo.</p>
                </div>

              </div>

                <br>
                <div class="span6"> <img src="{{ url_for('static', filename='img/home/slide/slide2.jpg') }}"></div>

          </div>
        </div>

      </div>

    </div>
       <!-- Carousel nav -->
      <a class="carousel-control left " href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
        <!-- /.Carousel nav -->

  </div>
    <!-- /Carousel -->

<!-- Feature 
  ==============================================-->
  <div class="row feature-box">
    <div class="span12 cnt-title">
      <h1>Principales organismos con los que nos encontramos trabajando</h1>       
    </div>
  </div>

  <div class="row feature-box2">

    <div class="span4">

      <img src="{{ url_for('static', filename='img/home/icon1.png') }}">
      <h2>Drosophila</h2>
      <p>
          También conocida como la mosca de la fruta, utilizada generalmente en la investigación científica y médica. 
      </p>

      <a href="#">Leer más &rarr;</a>

    </div>

  </div>

<!-- /.Feature -->

  <div class="hr-divider"></div>

<!-- Row View -->

    <div class="row">
        <div class="span6"><img src="{{ url_for('static', filename='img/home/rowimage.jpg') }}"></div>

        <div class="span6">
          <img class="hidden-phone" src="{{ url_for('static', filename='img/home/logo2.png') }}" alt="">
          <h2>Conoce a Nuestros Investigadores</h2>
            <p style="text-align: justify;"> La escuela de ciencias biológicas cuenta con un gran grupo de profesionales, altamente cualificados y especializados en distintas ramas de la ciencia. 
              Si deseas conocer a nuestro equipo de investigadores sigue el enlace que se presenta a continuación.</p>
            <a href="#">Ver perfiles &rarr;</a>
        </div>
    </div>

</div>

<!-- /.Row View -->

<!--Footer
==========================-->

<footer>
    <div class="container">
      <div class="row">
        <div class="span6">Copyright &copy 2021 Pontificia Universidad Católica del Ecuador<br>
        </div>
      </div>
    </div>
</footer>

<!--/.Footer-->

  </body>
</html>