<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ url_for('static', filename='css/admin/styles.css') }}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>

    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-puce">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3"><img src="{{ url_for('static', filename='img/home/logo3.png') }}"></a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Perfil</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">

                            {% if session['usertype'] == 'I' %}

                            <div class="sb-sidenav-menu-heading">Navegación</div>
                            <a class="nav-link" href="{{ url_for('folder') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-folder"></i></div> 
                                Carpetas Personales
                            </a>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-share-alt-square"></i></div> 
                                Archivos Compartidos
                            </a>

                            <div class="sb-sidenav-menu-heading">Administración</div>
                            <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#nueva-carpeta">
                                <div class="sb-nav-link-icon"><i class="fas fa-folder-plus"></i></div> 
                                Crear Carpeta
                            </a>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-upload"></i></div> 
                                Subir Archivo
                            </a>

                            {% elif session['usertype'] == 'A' %}

                            <div class="sb-sidenav-menu-heading">Administrador</div>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                Usuarios
                            </a>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                Grupos
                            </a>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-university"></i></div>
                                Instituciones
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Conectado como:</div>
                        {{ session['username'] }}
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">
                
                {% block content %}{% endblock %}

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy 2021 Pontificia Universidad Católica del Ecuador</div>
                        </div>
                    </div>
                </footer>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="nueva-carpeta" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Carpeta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="return noEspacios()" action="{{ url_for('create_folder') }}" method="POST" autocomplete="off">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="carpetaNueva" name="carpetaNueva" type="text" placeholder="Nombre de la nueva carpeta" required/>
                            <label class="form-label fw-bold" for="carpetaNueva">Nombre</label>
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">Descripción:</label>
                            <textarea class="form-control" id="carpetaDescNueva" name="carpetaDescNueva" rows="2" required></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/admin/scripts.js') }}"></script>
    </body>

</html>