{% extends 'layout.html' %}

{% block title %}Biotech Carpetas{% endblock %}

{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-2">Carpeta: {{path}}</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="card mb-4">
            <div class="card-body">

                <section class="section">
                    <div class="columns">

                        <div class="column">

                            <table id="tablaCarpetas" class="table table-hover table-bordered table-responsive" style="width:100%">
                                <div class="d-flex justify-content-end">
                                    <a class="nav-link" title="Crear Carpeta" data-bs-toggle="modal" data-bs-new-nombre="{{ path }}" data-bs-target="#nueva-carpeta">
                                        <i class="fas fa-folder-plus fa-lg" style="color:#212529"></i>
                                    </a>
                                    <a class="nav-link" title="Subir Archivo" data-bs-toggle="modal" data-bs-new-file="{{ path }}" data-bs-target="#subir-archivo">
                                        <i class="fas fa-upload fa-lg" style="color:#212529"></i>
                                    </a>
                                </div>
                                <thead>
                                    <tr class="table-active">
                                        <th class="col-2 text-center align-middle">Contenido</th>
                                        <th class="col-1 text-center align-middle">Tipo</th>
                                        <th class="col-lg-6 text-center align-middle">Descripción</th>
                                        <th class="col-lg-1 text-center align-middle">Permisos</th>
                                        <th class="col-lg-2 text-center align-middle">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for contenido in contenidos %}
                                        {% if contenido[7] == 'C' %}
                                        <tr>
                                            <td class="align-middle">{{contenido[0]}}</td>
                                            <td class="text-center align-middle">Carpeta</td>
                                            <input type="hidden" name="contgrupo" value="{{contenido[1]}}"/>
                                            <td class="align-middle">{{contenido[2]}}</td>
                                            <input type="hidden" name="contpath" value="{{contenido[3]}}"/>
                                            <input type="hidden" name="contprivada" value="{{contenido[4]}}"/>
                                            <td class="text-center align-middle">
                                                <button type="submit" class="btn btn-link"><a title="Editar"><i class="fas fa-edit fa-lg" style="color:#212529" data-bs-toggle="modal" data-bs-carpeta_nombre="{{ contenido[0] }}" data-bs-carpeta_grupo="{{ contenido[1] }}" data-bs-carpeta_desc="{{ contenido[2] }}" data-bs-carpeta_priv="{{ contenido[4] }}" data-bs-target="#carpeta-editar"></i></a></button>
                                            </td>
                                            <td class="text-center align-middle">
                                                <form action="{{ url_for('subfolder') }}" method="POST">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                                                    <input type="hidden" name="path" value="{{ contenido[3] }}">
                                                    <button type="submit" class="btn btn-link"><a title="Abrir"><i class="fas fa-folder-open fa-lg" style="color:#212529"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% elif contenido[7] == 'A' %}
                                        <tr>
                                            <td class="align-middle">{{contenido[0]}}</td>
                                            <td class="text-center align-middle">Archivo</td>
                                            <input type="hidden" name="archgrupo" value="{{contenido[1]}}"/>
                                            <td class="align-middle">{{contenido[2]}}</td>
                                            <input type="hidden" name="archpath" value="{{contenido[3]}}"/>
                                            <input type="hidden" name="archpriv" value="{{contenido[4]}}"/>
                                            <input type="hidden" name="archdescarga" value="{{contenido[5]}}"/>
                                            <input type="hidden" name="archdescargas" value="{{contenido[6]}}"/>
    
                                            <td class="text-center align-middle">
                                                <button type="submit" class="btn btn-link"><a title="Editar"><i class="fas fa-edit fa-lg" style="color:#212529" data-bs-toggle="modal" data-bs-archivo_nombre="{{ contenido[0] }}" data-bs-archivo_desc="{{ contenido[2] }}" data-bs-num_descargas="{{ contenido[6] }}" data-bs-archivo_pub="{{ contenido[4] }}" data-bs-archivo_descarga="{{ contenido[5] }}" data-bs-target="#archivo-editar"></i></a></button>
                                            </td>
    
                                            <td class="text-center align-middle">
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-link"><a title="Compartir"><i class="fas fa-share-square fa-lg" style="color:#212529" data-bs-toggle="modal" data-bs-archivo_nombre="{{ contenido[0] }}" data-bs-target="#compartir-archivo"></i></a></button>                                                
                                                </div>
                                                <div class="btn-group">
                                                    <form action="{{ url_for('download_file') }}" method="POST">
                                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            
                                                        <input type="hidden" name="nameArchivo" value="{{ contenido[0] }}">
                                                        <button type="submit" class="btn btn-link"><a title="Descargar"><i class="fas fa-download fa-lg" style="color:#212529"></i></button>                                                   
                                                    </form>
                                                </div>
                                            </td>  
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</main>

{% endblock %}