{% extends 'layout.html' %}

{% block title %}Biotech Admin{% endblock %}

{% block content %}

<main>

    <div class="container-fluid px-4">
        <h1 class="mt-2">Información Usuarios</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="card mb-4">
            <div class="card-body">

                <section class="section">
                    <div class="columns">

                        <div class="column">

                            <table id="" class="table table-hover table-bordered table-responsive" style="width:100%">
                                <div class="d-flex justify-content-end">
                                    <a class="nav-link" title="Agregar Usuario" data-bs-toggle="modal" data-bs-target="#nuevo-usuario">
                                        <i class="fas fa-user-plus fa-lg" style="color:#212529"></i>
                                    </a>
                                </div>
                                <thead>
                                    <tr class="table-active">
                                        <th class="col-3 text-center align-middle">Investigador</th>
                                        <th class="col-lg-4 text-center align-middle">Institución</th>
                                        <th class="col-lg-2 text-center align-middle">Correo</th>
                                        <th class="col-lg-2 text-center align-middle">Grupo Principal</th>
                                        <th class="col-lg-1 text-center align-middle">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for investigador in investigadores %}
                                    <tr>
                                        <input type="hidden" name="idtInvest" value="{{investigador[0]}}"/>
                                        <input type="hidden" name="userInvest" value="{{investigador[1]}}"/>
                                        <td class="align-middle">{{investigador[3]}} {{investigador[4]}}</td>
                                        <td class="align-middle">{{investigador[2]}}</td>
                                        <td class="align-middle">{{investigador[5]}}</td>
                                        <td class="text-center align-middle">{{investigador[6]}}</td>
                                        <td class="text-center align-middle">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-link"><a title="Grupo Secundario"><i class="fas fa-users-cog fa-lg" style="color:#212529" data-bs-toggle="modal" data-bs-investigador-nombre="{{investigador[3]}} {{investigador[4]}}" data-bs-usuario-idt="{{ investigador[0] }}" data-bs-user-invest="{{ investigador[1] }}" data-bs-target="#asignar-grupo"></i></a></button>                                                
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</main>
{% endblock %}